@use '../variables';
@use "../mixins.scss";

@keyframes showLogo {
  0%{
    opacity: 0;
    bottom: -70px;
    right: -40px;
  }
  100%{
    opacity: 1;
    bottom: -70px;
    right: -70px;
  }
}

@keyframes showContent {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showChat {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotateImage {
  0% {
    transform: rotate(30deg)
  }
  10% {
    transform: rotate(29deg);
  }
  11% {
    transform: rotate(28deg);
  }
  12% {
    transform: rotate(27deg);
  }
  13% {
    transform: rotate(26deg);
  }
  14% {
    transform: rotate(25deg);
  }
  15% {
    transform: rotate(24deg);
  }
  16% {
    transform: rotate(23deg);
  }
  17% {
    transform: rotate(22deg);
  }
  18% {
    transform: rotate(21deg);
  }
  19% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(19deg);
  }
  21% {
    transform: rotate(18deg);
  }
  22% {
    transform: rotate(17deg);
  }
  23% {
    transform: rotate(16deg);
  }
  24% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(14deg);
  }
  26% {
    transform: rotate(13deg);
  }
  27% {
    transform: rotate(12deg);
  }
  28% {
    transform: rotate(11deg);
  }
  29% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(9deg);
  }
  31% {
    transform: rotate(8deg);
  }
  32% {
    transform: rotate(7deg);
  }
  33% {
    transform: rotate(6deg);
  }
  34% {
    transform: rotate(5deg);
  }
  35% {
    transform: rotate(4deg);
  }
  36% {
    transform: rotate(3deg);
  }
  37% {
    transform: rotate(2deg);
  }
  38% {
    transform: rotate(1deg);
  }
  39% {
    transform: rotate(0);
  }
  40%{
    transform: rotate(0);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0);
  }
  100%{
    transform: rotate(0);
  }
}



.hide{
  display: none;
}

.main-container{
  font-family: variables.$main-fontStyle;
  position: absolute;
  left: 9%;
  top: 20%;
  height: 100%;
  @include mixins.notebook{
    left: 9%;
  }
  @include mixins.tablet{
    top: 30%;
  }
  @include mixins.mobile{
    left: 7%;
  }
  .navbar{
    position: fixed;
    top: 20px;

  }
  .chatWpp{
    position: fixed;
    right: 100px;
    animation: showChat 5s;
    @include mixins.notebook{
      img{
        width: 600px;
        height: 530px;
      }
    }
    @include mixins.notebook-2{
      top: 230px;
      img{
        width: 500px;
        height: 430px;
      }
    }
    @include mixins.notebook-3{
      display: none;
      img{
        width: 500px;
        height: 430px;
      }
    }
    @include mixins.heightAdjust1{
      img{
        width: 500px;
      }
    }
    @include mixins.heightAdjust2{
      top: 130px;
      img{
        width: 500px;
      }
    }

  }

  .content{
    display: flex;
    flex-direction: column;
    gap: 40px;
	  animation: showContent 1s;
    img{
      display: none;
      width: 500px;
      animation: rotateImage 2s;
      @include mixins.notebook{
      }
    }

    h1{
      font-size: 48px;
      color: variables.$title-color;
      font-weight: 800;
      margin-bottom: 24px;
      @include mixins.tablet{
        font-size: 40px;
      }
      @include mixins.heightAdjust1{
        font-size: 40px;
      }
    }
    h2{
      color: variables.$paragraph-color;
      font-weight: 400;
      span{
        color: variables.$primary-color;
        cursor: pointer;
      }
      @include mixins.mobile{
        font-size: 18px;
      }
    }
    .first-box{
      display: flex;
      height: 60px;
      align-items: center;
      gap: 16px;
      padding: 16px;
      transition: all .2s;
      cursor: pointer;
      @include mixins.heightAdjust1{
        display: none;
      }
      &:hover{
        transition: all .2s;
        transform: scale(1.1);
      }
      svg{
        fill: variables.$green-color;
        @include mixins.notebook{
          font-size: 16px;
        }
      }
      background-color: variables.$main-boxColor;
      color: #FFF;
      font-weight: 300;
      font-size: 16px;
      @include mixins.notebook{
        width: 400px;
        font-size: 12px;
        font-weight: 400;
      }
      @include mixins.mobile{
        width: 300px;
        font-size: 11px;
      }
    }
    input{
      border: none;
      height: 73px;
      border-radius: 5px;
      background-color: variables.$primary-color;
      color: #FFF;
      outline: none;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      &::placeholder{
        color: #FFF;
        font-weight: 300;
        font-family: variables.$main-fontStyle;
        text-align: center;
        font-size: 14px;
      }

      @include mixins.notebook{
        width: 400px;
      }
      @include mixins.mobile{
        width: 300px;

      }
    }
  }
  .logo{
    position: fixed;
    top: 30px;
    right: 50px;
    display: none;
    img{
      width: 300px;
      display: block;
      animation: showLogo .6s;
    }
    @include mixins.notebook{
      bottom: 20px;
      z-index: 10;
    }
    @include mixins.tablet{
      display: none;
    }
  }
  .loadPage{
    background-color: rgba(11, 11, 11, 0.783);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    img{
      animation: rotateImage 1s infinite;
    }
  }
}
