@use "../variables";
@use '../mixins.scss';

@keyframes clickButton {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-1px);
  }
  40% {
    transform: translate(1px);
  }
  60% {
    transform: translate(-1px);
  }
  80% {
    transform: translate(1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes showContainer {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.hide{
  display: none;
}

.container-SearchResults{
  min-width: 100%;
  height: 100vh;
  color: #FFF;
  animation: showContainer 1s;
  .container-products{
    overflow: hidden;
    max-width: 95%;
  .container-grid{
    gap: 10px;
    display: flex;
    padding: 6em 0 0 4em;
    cursor: grab;
    .products-container{
      text-align: center;
      display: flex;
      flex-direction: column;
      font-family: variables.$main-fontStyle;
      align-items: center;
      border-radius: 10px;
      background-color: variables.$grid-color;
      .img{
        pointer-events: none;
        width: 300px;
        img{
          width: 200px;
        }
      }
      h1{
        font-size: 24px;
      }
      h2{
        font-size: 13px;
        color: variables.$paragraph-color;
      }
      h3{
        color: variables.$primary-color;
        font-weight: 800;
        font-size: 24px;
        font-family: variables.$font;
      }
    }
  }
}
  .btn{
    text-align: center;
    margin-top: 5%;
    button{
      cursor: pointer;
      width: 250px;
      height: 50px;
      border-radius: 10px;
      background-color: transparent;
      border: 1px solid variables.$primary-color;
      color: #FFF;
      font-family: variables.$main-fontStyle;
      font-size: 13px;
      text-align: center;
      &:hover{
        animation: clickButton .5s infinite;
      }
    }
  }
}
