@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');

//Colors
$background-color: #FFFEFD;
$primary-color: #004CFF;
$black-color: #000817;
$paragraph-color: #7E7F89;
$cards-color: #EBEBEB;
$bg-card-style: #FAFAFA;
$span-color: #00FFC6;
// #0da26e

//Fonts

$font: 'Poppins', sans-serif;
$font-title: "Istok Web", sans-serif
