@use './variables';
@use "../styles/mixins.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../components/Images/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  @include mixins.notebook{
    background-image: url('../../public/Images/BackgroundNotebook.png');
  }
  @include mixins.tablet{
  background-image: url('../components/Images/background.png');
    background-color: #010101;
  }
  &::-webkit-scrollbar {
    width: 17px;
  }

  &::-webkit-scrollbar-track {
    background: variables.$black-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$primary-color;
    border-radius: 20px;
    border: 3px solid variables.$black-color;
  }
}
